<template name="MasterLayout">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Exchanger</a>
            </div>
            <div class="collapse navbar-collapse row" id="header-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="clearfix">
                        <div id="searchContainer" class="col-xs-12">
                            <form id="search" class="navbar-form" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="{{_ 'master_layout.search'}}" name="search">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </li>
                    
                    <li class="hidden-xs navbar-form">
                        {{> i18n_dropdown}}
                    </li>

                    {{#if currentUser}}
                        <li class="text-center">
                            <a href="/publication/create">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                <span class="hidden-sm">&nbsp;&nbsp;{{_ "master_layout.publish"}}</span>
                            </a>
                        </li>
                        
                        {{> Notifications}}

                    {{/if}}
                    
                    {{> loginButtons}}

                    <li class="visible-xs">
                        <div class="col-xs-12">
                            <div class="navbar-form">
                                {{> i18n_dropdown}}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {{> yield}}
    {{#if currentUser}}
        {{> Chat}}    
    {{/if}}
    <div class="clearfix"></div>
</template>
<template name="_loginButtonsAdditionalLoggedInDropdownActions">
    <button class="btn btn-default btn-block" id="login-buttons-edit-profile">{{_ "button.myProfile"}}</button>
</template>
