@media (max-width: 768px) {	
	#container{
		margin-top: 90px !important;
	}	
}

@media (min-width: 768px) and (max-width: 991px) {
    #searchContainer,
    #search {
        padding: 0 !important;
    }

	#container{
		margin-top: 45px !important;
	}
}