/*****************************************************************************/
/* main: Style */
/*****************************************************************************/

.main {}

textarea {
    resize: none;
}

.label,
.navbar,
.input-group p[class="form-control"] {
    border-radius: 0 !important;
}

.dropdown-menu {
    background-color: #28415b !important;
}

.break-word {
    word-wrap: break-word;
}

.no-margin {
    margin: 0 !important;
}