/*****************************************************************************/
/* main: Style */
/*****************************************************************************/

.main {}

textarea {
    resize: none;
}

.label,
.navbar {
    border-radius: 0 !important;
}

.dropdown-menu {
    background-color: #28415b !important;
}

.break-word {
    word-wrap: break-word;
}
