<template name="EditPublication">

    <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 well">
        {{#autoForm collection="Publications" doc=this id="updatePublicationForm" type="method-update" meteormethod="updatePublication" }}
            <fieldset>
                <legend>
                    <a href="/publication/{{_id._str}}">
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                        </button>
                    </a>  
                    <div class="text-center">{{_ "title_editPublication"}}</div>
                </legend>

                <div  class="col-md-12 col-lg-12">
                    <div  class="form-group">
                        {{> afFieldInput name='name' }}
                        {{#if afFieldIsInvalid name='name'}}
                            <span class="help-block text-danger">
                                {{{afFieldMessage name='name'}}}
                            </span>
                        {{/if}}
                    </div>

                    <div  class="form-group">
                        {{> afFieldInput name='description' type="textarea" }}
                        {{#if afFieldIsInvalid name='description'}}
                            <span class="help-block text-danger">
                                {{{afFieldMessage name='description'}}}
                            </span>
                        {{/if}}
                    </div>

                    <div  class="form-group">
                        {{> afFieldInput name='price' }}
                        {{#if afFieldIsInvalid name='price'}}
                            <span class="help-block text-danger">
                                {{{afFieldMessage name='price'}}}
                            </span>
                        {{/if}}
                    </div>

                    <div  class="form-group">
                        {{> afFieldInput name='category' type="select" options=optionsCategories allowedValues=allowedCategories }}
                        {{#if afFieldIsInvalid name='category'}}
                            <span class="help-block text-danger">
                                {{{afFieldMessage name='category'}}}
                            </span>
                        {{/if}}
                    </div>

                    <div  class="form-group">
                        {{> afFieldInput name='age' type="select" options=optionsAges allowedValues=allowedAges  }}
                        {{#if afFieldIsInvalid name='age'}}
                            <span class="help-block text-danger">
                                {{{afFieldMessage name='age'}}}
                            </span>
                        {{/if}}
                    </div>

                    <div  class="form-group">

                        <div>
                            {{#with getPhoto photo}}
                                <div class="img-thumbnail col-md-12 col-lg-12">
                                        <img src="{{url store='images_publications'}}" alt="NO VA" class="img-responsive center-block" />
                                </div>
                            {{/with}}
                            {{> CustomUpload  name="photo" buttonTextKey="photo" accept=".jpg, .jpeg, .png" collection=1 }}
                            {{#if afFieldIsInvalid name='photo'}}
                                <span class="help-block text-danger">
                                    {{{afFieldMessage name='photo'}}}
                                </span>
                            {{/if}}
                        </div>
                    </div>
                </div>

                <div  class="form-group">
                    <button type="submit" class="btn btn-success center-block">{{_ "button_editPublication"}}</button>
                </div>
            </fieldset>
        {{/autoForm}}
    </div>
</template>
