<template name="Publication">
    <div class="col-md-12 col-lg-12">
        <div class="well clearfix">
            
            <legend>                
                <a href="/" class="col-md-1 col-lg-1 row">
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                    </button>
                </a>

                <span class="h2 text-center">
                    {{name}}
                </span>
                
                <span class="h2 pull-right">
                    <span class="label label-primary">
                        {{#if $and checkSellerAccepted checkSellerBargained}}
                            {{#if $eq status 1}}
                                {{#with checkSellerBargained}}
                                    {{#if $eq turn "buyer"}}
                                        {{sellerPrice}} €
                                    {{else}}
                                        {{buyerPrice}} €                                    
                                    {{/if}}
                                {{/with}}
                                <del class="small">{{price}} €</del>
                            {{else}}
                                {{price}} €
                            {{/if}}
                        {{else}}
                            {{price}} €
                        {{/if}}
                    </span>
                </span>

                <span class="h2 pull-right">
                    <span class=" label label-{{statusLabel}}">{{statusText}}</span>
                </span>
            </legend>
            {{#with getPublicationPhoto photo}}
                <div class="col-md-5 col-lg-5 img-thumbnail">
                    <img src="{{url store='images_publications'}}" alt="{{_ 'noImage'}}" class="img-responsive center-block" />
                </div>
            {{/with}}

            <div class="col-md-7 col-lg-7">
                
                <div class="col-md-6 col-lg-6">
                    <h4><span class="label label-primary">{{_ "publication.seller"}}</span></h4>
                    {{#with getUser owner}}
                        <a href="/profile/{{_id}}" class="col-md-12 col-lg-12">
                            {{ profile.firstName }} {{ profile.lastName }}
                        </a>
                    {{/with}}
                </div>
                <div class="col-md-6 col-lg-6">
                    <h4><span class="label label-primary">{{_ "date"}}</span></h4>
                    <p class="col-md-12 col-lg-12">{{prettifyDate createdAt 'L HH:mm:ss'}}</p>
                </div>

                <div class="col-md-6 col-lg-6">
                    <h4><span class="label label-primary">{{_ "schemas.publications.category.label"}}</span></h4>
                    {{#with getCategory category}}
                        <p class="col-md-12 col-lg-12">{{name}}</p>                        
                    {{/with}}
                </div>
                <div class="col-md-6 col-lg-6">
                    <h4><span class="label label-primary">{{_ "schemas.publications.age.label"}}</span></h4>
                    {{#with getAge age}}
                        <p class="col-md-12 col-lg-12">{{name}}</p>                        
                    {{/with}}
                </div>
                
                <div class="col-md-12 col-lg-12">
                    <h4><span class="label label-primary">{{_ "schemas.publications.description.label"}}</span></h4>
                    <p class="col-md-12 col-lg-12">{{description}}</p>                        
                </div>

                <div class="col-md-12 col-lg-12">
                    
                    {{#if currentUser}}

                        {{#if $eq status 0}}

                            {{#if $eq $.Meteor.userId owner}}
                                {{#unless $or checkSellerAccepted checkSellerBargained}}
                                    <a href="/publication/{{_id._str}}/edit"  class="btn btn-info">
                                        {{_ "button.editPublication"}}
                                    </a>
                                {{/unless}}
                                <button id="removePublication" class="btn btn-danger">{{_ "button.removePublication"}}</button>
                            {{else}}
                                {{#unless $or checkBuyerAccepted checkBuyerBargained}}
                                    <button id="acceptPublication" class=" btn btn-success">{{_ "button.acceptPublication"}}</button>
                                    <button id="bargainPublication" class="btn btn-info">{{_ "button.bargainPublication"}}</button>
                                {{/unless}}

                                {{#if checkBuyerAccepted}}
                                    <h4><span class="label label-info">{{_ "message.waitingForAcceptResponse"}}</span></h4>
                                {{else}}
                                    {{#if checkBuyerBargained}}
                                        <h4><span class="label label-info">{{_ "message.waitingForBargainResponse"}}</span></h4>
                                    {{/if}}
                                {{/if}}

                                {{#with getUser owner}}
                                    <button id="chatWithUser" class="btn btn-default">{{_ "button.chat" profile.firstName profile.lastName }}</button>
                                {{/with}}
                            {{/if}}
                        {{/if}}

                        {{#if $eq status 1}}

                            {{#with checkSellerAccepted}}
                                {{#if $eq $.Meteor.userId buyer}}
                                    {{#with getUser seller}}
                                        <button id="cancelDeal" class="btn btn-danger">{{_ "button.cancelDeal" profile.firstName profile.lastName }}</button>
                                        <button id="chatWithUser" class="btn btn-default">{{_ "button.chat" profile.firstName profile.lastName }}</button>
                                    {{/with}}
                                {{/if}}
                                {{#if $eq $.Meteor.userId seller}}
                                    {{#with getUser buyer}}
                                        <button id="cancelDeal" class="btn btn-danger">{{_ "button.cancelDeal" profile.firstName profile.lastName }}</button>
                                        <button id="setPublicationSold" class="btn btn-success">{{_ "button.setPublicationSold"}}</button>
                                        <button id="chatWithUser" class="btn btn-default">{{_ "button.chat" profile.firstName profile.lastName }}</button>
                                    {{/with}}
                                {{/if}}
                            {{/with}}
                        {{/if}}
                    {{/if}}

                </div>
            </div>
        </div>
    </div>
</template>
