<template name="PublicationsListItem">

    <div class="ms-item col-md-4 col-lg-4">
         
        <div class="well clearfix">
            
            <h4 class="break-word">
                <a href="/publication/{{_id._str}}">
                    {{name}}
                </a>
            </h4>

            <a href="/publication/{{_id._str}}">
                {{#with getPhoto photo}}
                    <img src="{{url store='images_publications'}}" alt="NO VA" class="img-responsive img-thumbnail" />
                {{/with}}
            </a>

            {{#with getCategory category}}
                <h5 class="col-md-8 col-lg-8 break-word">
                    <a href="#">
                        {{name}}
                    </a>
                </h5>
            {{/with}}
                
            <h4 class="col-md-4 col-lg-4 text-right"> {{price}} €</h4>

            <div>
                <div class="col-md-12 col-lg-12">
                    {{#with getUser owner}}
                        {{#with profile}}
                            <a href="#" class="break-word">
                                {{ [first-name] }} {{ [last-name] }}
                            </a>
                        {{/with}} 
                    {{/with}}
                </div>
            </div>
        </div>
    </div>

</template>